# Girls in Data Science Camp 2024

<img src="img/programming_women.jpg" width=800>

*Photos/Images by #WOCinTech/#WOCinTech Chat ([CC-BY](https://creativecommons.org/licenses/by/2.0/))*

## Team Introduction 

- Lead Instructor: Katie Burak (Assistant Professor of Teaching, Department of Statistics, UBC)
- Data Science Mentors:

Thank you to our sponsors!

<img src="img/sponsor1.png" width=100> <img src="img/sponsor2.png" width=100> <img src="img/sponsor3.png" width=100>

## Ice Breaker Activity 

- Write down an interesting fact about yourself (e.g., favourite hobby, a place you have travelled) and come and place your sticky on the white board (don't write your name on the sticky note). 

- Once everyone has placed a sticky note on the white board, come and take one that isn't yours. It is your job to find out the name of the person whose random fact you found and return their sticky note to them! 

- After everyone has their original note, please share your fun facts with everyone at your table.

## Day 1 Learning Objectives

- Edit and execute code and markdown in Jupyter notebooks
- Learn the essentials of the R programming language 
- Basics of data manipulation and data visualization in R

## We've got a lot to do - let's get started!

<img src="https://media.giphy.com/media/6onMzNPjtFeCI/giphy.gif" width="800">

## 1. Getting started with Jupyter & R

This webpage is called a Jupyter notebook. A notebook is a place to write computer code for analysis, view the results of the analysis, as well as to narrate the analysis with rich formatted text.

### 1.1. Text Cells
In a notebook, each rectangle containing text or code is called a *cell*.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings. 

After you edit a text cell, click the "run cell" button at the top that looks like ▶ to confirm any changes. (Try not to delete the instructions of the lab.)

### 1.2. Code Cells
Other cells contain code in the R language. Running a code cell will execute all of the code it contains.

To run the code in a cell, first click on that cell to activate it.  It will be highlighted with a blue rectangle to the left of it when activated.  Next, either press Run ▶ or hold down the `shift` key and press `return` or `enter`.
print("Hello, World!")
Try running the next cell:

In [1]:
print("Hello, World!")

[1] "Hello, World!"

The above code cell contains a single line of code, but cells can also contain multiple lines of code. When you run a cell, the lines of code are executed in the order in which they appear. Every `print` expression prints a line. Run the next cell and notice the order of the output.

In [2]:
print("First this line is printed,")
print("and then this one.")

[1] "First this line is printed,"
[1] "and then this one."

### 1.3. Writing Jupyter Notebooks
You can use Jupyter notebooks for your own projects or documents.  When you make your own notebook, you'll need to create your own cells for text and code.

To add a cell, click the + button in the menu bar of this tab.  The newly created cell will start out as a code cell.  You can change it to a text cell by clicking inside it so it's highlighted, clicking the drop-down box next to the restart and run all button (⏩) in the menu bar of this tab, and changing it from "Code" to "Markdown".

#### Exercise

Add a code cell below this one.  Write code in it that prints out:
   
    My name is ____!

Run your cell to verify that it works. 

Next, add a text/Markdown cell and write the text "My name is ____!" in it.

### 1.4. Comments
Below you see lines like this in code cells:

    # Test cell; please do not change!

That is called a *comment*.  It doesn't make anything happen in R; R ignores anything on a line after a #.  Instead, it's there to communicate something about the code to you, the human reader.  Comments are extremely useful and can help increase how readable our code is.

The below code cell contains comments (one at the start of a line, and one after some other code). Run the cell. You will see that everything after a comment symbol `#` is ignored by R.

In [3]:
# you can use comments to document your code, or make R ignore some code without deleting it entirely
# print("this is a commented line that R will ignore. You won't see this text in the output!")

print("hello!") # you can also put comments at the end of a line of code

[1] "hello!"

### 1.5. Errors
R is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running R code is not smart enough to do that.

Whenever you write code, you'll make mistakes (everyone who writes code does, even your course instructor!).  When you run a code cell that has errors, R will sometimes produce error messages to tell you what you did wrong.

Errors are totally okay; even experienced programmers make many errors. It's a natural part of the coding process.  When you make an error, you just have to find the source of the problem, fix it, and move on. 

We have made an error in the next cell. **Remove the `#` symbol below (i.e., uncomment the line)**, and then run the cell to see what happens.

In [4]:
# print("This line is missing something."

![ws1_error_image.png](img/ws1_error_image.png)

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. Even though the error message can seem cryptic, if you read it carefully you'll often find hints as to what went wrong. For example, above, you'll see the message `unexpected end of input` (among a lot of other technical jargon). In other words, R reached the end of the line of code, and wasn't expecting to reach the end -- it thinks there is still something missing!

Of course, even if you do your best to interpret the error message, sometimes you may get stuck figuring out what went wrong and how to fix it. In that case, ask a neighbor or a TA for help.

Try to fix the code above so that you can run the cell and see the intended message instead of an error.

### 1.6 Saving your work

Its important to save your work often so you don't lose your progress! At the top of the screen, go to the **File** menu then **Save Notebook**. Also, there are keyboard shorcuts for saving your work too: control + s on Windows, or command + s on Mac. Once you've saved your work, you will see a message at the bottom of the screen that says **Saving completed**.

### 1.7 Numbers

Quantitative information arises everywhere in data science. In addition to representing commands to print out lines, our R code can represent numbers and methods of combining numbers. The expression `3.2500` evaluates to the number 3.25. (Run the cell and see.)

In [5]:
3.2500

[1] 3.25

Notice that we didn't have to write `print()`. When you run a notebook cell, Jupyter helpfully prints out that value for you.

In [6]:
2
3
4

[1] 2

[1] 3

[1] 4

Above, you should see that the three numbers (2, 3, and 4) are printed out. In R, simply inputting numbers and running the cell will generate all the numbers that you listed.

### 1.8 Arithmetic
The line in the next cell performs some mathemtical operations. Run them!

In [7]:
2.0 - 1.5

[1] 0.5

In [8]:
2 * 2

[1] 4

In [9]:
6/2

[1] 3

Many basic arithmetic operations are built in to R.  [This webpage](https://www.statmethods.net/management/operators.html) describes all the arithmetic operators used in the course.  You can refer back to this webpage as you need throughout the term.

### 1.9 Names
In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we just say, "Bear!"

Similarly, an effective strategy for writing code is to define names for data as we compute it, like a lawyer would define terms for complex ideas at the start of a legal document to simplify the rest of the writing.

In R, we do this with *objects*. An object has a name on the left side of an `<-` sign and an expression to be evaluated on the right.

In [10]:
answer <- 3 * 2 + 4

When you run that cell, R first evaluates the first line.  It computes the value of the expression `3 * 2 + 4`, which is the number 10.  Then it gives that value the name `answer`.  At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `answer`:

In [11]:
answer

[1] 10

When naming objects in R there are some rules:
1. Names in R can have letters (upper- and lower-case letters are both okay and count as different letters e.g. "Answer" and "answer" will be treated as different objects), underscores, dots, and numbers. 
2. The first character can't be a number (otherwise a name might look like a number).  
3. Names can't contain spaces, since spaces are used to separate pieces of code from each other. 

Other than those rules, what you name something doesn't matter *to R*.  For example, the next cell does the same thing as the above cell, except everything has a different name:

In [12]:
a <- 840
b <- 2 * a
c <- 12
d <- c * b
d

[1] 20160

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

**However**, names are very important for making your code *readable* to yourself and others.  The cell above is shorter, but it's totally useless without an explanation of what it does. 

There is also cultural style associated with different programming languages. In the modern R style, object names should use only lowercase letters, numbers, and `_`. Underscores (`_`) are typically used to separate words within a name (*e.g.*, `answer_one`).

### Exercise

Question: How old will you be in 2050?

- Assign an object called `age` which is your age now.
- Compute how many years will pass until 2050 by subtracting the current year from 2050 (call this object `years`).
- Finally, name an object `future_age` which adds together `age` and `years` to get your age in 2050.

## 1.10 Functions

The most common way to combine or manipulate values in R is by calling functions. R comes with many built-in functions that perform common operations.

We used a function `print()` at the beginning of this notebook when we printed text from a code cell. Here we'll demonstrate using another function `toupper()` that converts text to uppercase:

In [13]:
greeting <- toupper("Why, hello there!")
greeting

[1] "WHY, HELLO THERE!"

Try using the function `tolower` now!

Some functions take multiple arguments, separated by commas. For example, the built-in `max` function returns the maximum argument passed to it.

In [14]:
biggest <- max(4,7,23,1,5)
biggest

[1] 23

Try to use the `min` function now to find the smallest number!

### 1.11 Packages

R has many built-in functions, but we can also use functions that are stored within packages created by other R users. We are going to use a package, called `tidyverse`, to load, modify and plot data.
This package has already been installed for you. Later in the course you will learn how to install packages so you are free to bring in other tools as you need them for your data analysis.

To use the functions from a package you first need to load it using the `library` function. This needs to be done once per notebook (and a good rule of thumb is to do this at the very top of your notebook so it is easy to see what packages your R code depends on).

In [15]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

> Note: it is normal and expected that a message is printed out after loading the tidyverse and some packages. Generally, this message let’s you know if functions from the different packages were loaded share the same name (which is confusing to R), and if so, which one you can access using just it’s name (and which one you need to refer the package name and the function name to refer to it, this is called masking). Additionally, the tidyverse is a special R package - it is a meta-package that bundles together several related and commonly used packages. Because of this it lists the packages it does the job of loading.

### 1.12 Looking for Help

No one, even experienced, professional programmers remember what every function does, nor do they remember every possible function argument/option. So both experienced and new programmers (like you!) need to look things up, A LOT! 

One of the most efficient places to look for help on how a function works is the **R help files**. Let’s say we wanted to pull up the help file for the `toupper()` function. We can do this by typing a question mark in front of the function we want to know more about. Remove the hashtag and run the cell below to find out more about `toupper()`.

In [16]:
# ?toupper

At the very top of the file, you will see the function itself and the package it is in (in this case, it is base). Next is a description of what the function does. You’ll find that the most helpful sections on this page are “Usage”, “Arguments” and "Examples". 

- **Usage** gives you an idea of how you would use the function when coding--what the syntax would be and how the function itself is structured. 
- **Arguments** tells you the different parts that can be added to the function to make it more simple or more complicated. Often the “Usage” and “Arguments” sections don’t provide you with step by step instructions, because there are so many different ways that a person can incorporate a function into their code. Instead, they provide users with a general understanding as to what the function could do and parts that could be added. At the end of the day, the user must interpret the help file and figure out how best to use the functions and which parts are most important to include for their particular task. 
- The **Examples** section is often the most useful part of the help file as it shows how a function could be used with real data. It provides a skeleton code that the users can work off of.

Beyond the R help files there are many resources that you can use to find help. [Stack overflow](https://stackoverflow.com/), an online forum, is a great place to go and ask questions such as how to perform a complicated task in R or why a specific error message is popping up. Oftentimes, a previous user will have already asked your question of interest and received helpful advice from fellow R users.

## 2. Introduction to Data Science

### What *is* data science exactly?

**Data science** is the use of *reproducible* and *auditable* processes to obtain value (i.e., insight) from data.

Every good data analysis begins with a question—like the above—that you aim to answer using data. As it turns out, there are actually a number of different types of question regarding data: 
- descriptive
- exploratory
- predictive
- inferential
- causal
- mechanistic.

> Note: In this camp, we will focus on the first 3 types of questions.

### Why are we using programming languages to do data analysis? 

<p float="left">   
    <img src="https://www.r-project.org/Rlogo.png" width="150" />  VS. 
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/516px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png" width="150" />
</p>
  
- There are many advantages to using R (or another language, like Python or Julia):
    - statistical analysis functions that go beyond Excel
    - free and open-source 
    - transparent & reproducible code 
    - can handle large amounts of data and complex analyses

- Using a programming language is like baking with a recipe: 
    - Ingredients = data

      <img src ="https://www.thespruceeats.com/thmb/FYR4bNLrj304CEaE2aSGPYzygzY=/4680x2632/smart/filters:no_upscale()/greek-butter-cookies-1705307-step-01-5bfef717c9e77c00510e3bf9.jpg" style ="width:500px;"/>
    - Recipe = code

        <img src ="https://cdn.pixabay.com/photo/2014/12/21/23/28/recipe-575434_640.png" style="width: 500px;"/>

- Someone else can use your recipe (code) to bake the same cake (produce the same data analyses)

- Spreadsheets in Excel make it *very* difficult to understand where results came from

**In the data science workflow** (source: Grolemund & Wickham, [R for Data Science](https://r4ds.had.co.nz/))

<center><img src="https://d33wubrfki0l68.cloudfront.net/571b056757d68e6df81a3e3853f54d3c76ad6efc/32d37/diagrams/data-science.png" style="width: 700px"/></center>

### 2.1 Reading in Tabular Data

#### Loading/importing data

- 4 most common ways to do this in Data Science
    1. **read in a text file with data in a spreadsheet format**
    2. read from a database (e.g., SQLite, PostgreSQL)
    3. scrape data from the web (optional bonus material)
    4. use a web API (Application Programming Interface) to read data from a website (not covered in DSCI100)

It is important to read in data carefully and check results after! This will help reduce bugs and speed up your analyses down the road... think of it as tying your shoes before you run; not exciting, but if done wrong it will trip you up later!

#### Different ways to locate a file / dataset



**Local (on your computer)**
- An *absolute* path locates a file with respect to the "root" folder on a computer 
  - starts with `/`
    
    e.g. `/home/instructor/documents/timesheet.xlsx`
  
  
- A *relative* path locates a file relative to your *working directory*
  - doesn't start with `/`
    
    e.g. `documents/timesheet.xlsx` <br>(where working directory is `/home/instructor/`)

**Remote (on the web)**

via "URL" that starts with `http://` or `https://`
<br><br>
`http://traffic.libsyn.com/mbmbam/MyBrotherMyBrotherandMe367.mp3`

**Absolute vs relative paths: Which should you use?**
- Generally to ensure your code can be run on a different computer, you should use relative paths 

-  e.g. Alice is working inside the folder `/home/alice/project/`. To specify where to load data from in her Jupyter notebook, she uses the absolute path `/home/alice/project/data/happiness_report.csv`. What issue will arise when she shares the notebook with her collaborator Keeran who tries to read in the data on their computer?

`/home/keeran/- What relative data path could they use to collaborate more effectively?project/data/happiness_report.csv`

What relative data path could they use to collaborate more effectively?

`data/happiness_report.csv`

- Even though stored their files in the same place on their computers (in their home folders), the absolute paths are different due to their different usernames. 

- If Alice has code that loads the happiness_report.csv data using an absolute path, the code won’t work on Keeran’s computer. But the relative path from inside the project folder (data/happiness_report.csv) is the same on both computers; any code that uses relative paths will work on both.

- Abosolute paths are like GPS coordinates, they take you to one specific location regardless of where you are starting from. Relative paths are like directions, they are based off your starting point (e.g. go to blocks north and then one west).

A **data set** is a structured collection of numbers and characters. Aside from that, there are really no strict rules; data sets can come in many different forms! Perhaps the most common form of data set that you will find in the wild, however, is tabular data. Think spreadsheets in Microsoft Excel: tabular data are rectangular-shaped and spreadsheet-like.

When we load tabular data into R, it is represented as a data frame object. We refer to the rows as **observations** and columns as **variables**.

The main kind of data file that we will learn how to load into R as a data frame is the comma-separated values format (.csv for short). These files have names ending in .csv, and can be opened and saved using common spreadsheet programs like Microsoft Excel and Google Sheets.

To load data into R so that we can do things with it (e.g., perform analyses or create data visualizations), we will need to use a function. A function is a special word in R that takes instructions (we call these arguments) and does something. The function we will use to load a .csv file into R is called `read_csv` (made accessible by loading the `tidyverse` R package). In its most basic use-case, `read_csv` expects that the data file:

- has column names (or headers)
- uses a comma (,) to separate the columns
- does not have row names

Please note that data comes in many forms and there are a wide variety of functions and approaches to loading in your data, but in this camp we will be focusing on reading in tabular data using `read_csv`.

We will now look at an [Instagram data set](https://www.kaggle.com/datasets/faisaljanjua0555/top-200-most-followed-instagram-accounts-2023) focusing on 200 of the most popular instagram accounts. Let's try reading it in with `read_csv` using a relative path!

In [17]:
insta <- read_csv('data/insta.csv')

head(insta) # head function prints only the first 6 rows

Rows: 200 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): name, channel_Info, Category, Posts, Followers, Avg. Likes, Eng Rate
dbl (1): rank

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  rank name        channel_Info Category                 Posts Followers
1 1    instagram   brand        photography              7.3K  580.1M
2 2    cristiano   male         Health, Sports & Fitness 3.4K  519.9M
3 3    leomessi    male         Health, Sports & Fitness 1K    403.7M
4 4    kyliejenner female       entertainment            7K    375.9M
5 5    selenagomez female       entertainment            1.8K  365.3M
6 6    therock     male         entertainment            7K    354.3M
  Avg. Likes Eng Rate
1 7.31K      0.1%
2 3.41K      1.4%
3 0.97K      1.7%
4 7.02K      1.7%
5 1.85K      1.1%
6 7.03K      0.3%

Run the following code chunk before continuing to rename/reformat some of the variables:

In [18]:
insta <- insta |>
              mutate(Followers = as.numeric(str_replace(Followers, "M", ""))*1e6) |> 
              mutate(Posts = as.numeric(str_replace(Posts, "K", ""))*1e3) |> 
              rename(avg_likes = 'Avg. Likes', eng_rate = 'Eng Rate') |> 
              mutate(avg_likes = as.numeric(str_replace(avg_likes, "K", ""))*1e3) |> 
              mutate(eng_rate = as.numeric(str_replace(eng_rate, "%", ""))) |> 
              mutate(Category = if_else(is.na(Category), "Not Available", Category))
head(insta)

  rank name        channel_Info Category                 Posts Followers
1 1    instagram   brand        photography              7300  580100000
2 2    cristiano   male         Health, Sports & Fitness 3400  519900000
3 3    leomessi    male         Health, Sports & Fitness 1000  403700000
4 4    kyliejenner female       entertainment            7000  375900000
5 5    selenagomez female       entertainment            1800  365300000
6 6    therock     male         entertainment            7000  354300000
  avg_likes eng_rate
1 7310      0.1
2 3410      1.4
3  970      1.7
4 7020      1.7
5 1850      1.1
6 7030      0.3

It looks like this data set has 200 rows (observations) representing the top 200 instgram accounts and the following 8 columns (variables): 
- rank (1-200)
- name (Instagram handle)
- channel_info (brief description of the account)
- category
- posts
- followers
- Avg. Likes (the average number of likes that the account's posts receive per post) 
- Eng Rate (calculates the account's engagement rate by dividing the total number of likes and comments received by the total number of followers, expressed as a percentage).

### 2.2 Data Wrangling!

<img src="https://raw.githubusercontent.com/allisonhorst/stats-illustrations/main/rstats-artwork/dplyr_wrangling.png" width="700"/>

[The cartoon illustrations are by Allison Horst](https://github.com/allisonhorst/stats-illustrations/tree/main/rstats-artwork)

- In the real world, when you get data, it's usually *very messy*
  - inconsistent format (commas, tabs, semicolons, missing data, extra empty lines)
  - split into multiple files (e.g. yearly recorded data over many years)
  - corrupted files, custom formats
- when you read it successfully into R, it will often still be *very messy*
- you need to make your data **"tidy"**

#### What is Tidy Data?

<img src="https://github.com/allisonhorst/stats-illustrations/raw/main/rstats-artwork/tidydata_1.jpg" width=800>

*Illustrations from the [Openscapes](https://www.openscapes.org/) blog [Tidy Data for reproducibility, efficiency, and collaboration](https://www.openscapes.org/blog/2020/10/12/tidy-data/) by Julia Lowndes and Allison Horst"*

<img src="https://github.com/allisonhorst/stats-illustrations/raw/main/rstats-artwork/tidydata_2.jpg" width=800>

#### True or False: The Instagram data set is tidy

**True!**

- each row corresponds to a single observation,
- each column corresponds to a single variable, and
- each cell (row, column pair) correspond to a single value

### Tools for tidying and wrangling data

- `tidyverse` package functions from: 
    - `dplyr` package (`select`, `filter`, `mutate`, `group_by`, `summarize`)

### 2.1.1 Mutate

The `mutate` function transforms old columns to add new columns. 

e.g. convert engagement rate to a decimal

In [19]:
mutate(insta, eng_rate = eng_rate / 100)

    rank name               channel_Info Category                 Posts
1    1   instagram          brand        photography                7300
2    2   cristiano          male         Health, Sports & Fitness   3400
3    3   leomessi           male         Health, Sports & Fitness   1000
4    4   kyliejenner        female       entertainment              7000
5    5   selenagomez        female       entertainment              1800
6    6   therock            male         entertainment              7000
7    7   arianagrande       female       entertainment              5000
8    8   kimkardashian      female       entertainment              5700
9    9   beyonce            female       entertainment              2100
10  10   khloekardashian    female       entertainment              4200
11  11   justinbieber       male         entertainment              7400
12  12   nike               brand        Health, Sports & Fitness   1000
13  13   taylorswift        male         entertainment            562000
14  14   jlo                female       entertainment            220000
15  15   virat.kohli        male         Not Available              1500
16  16   kendalljenner      male         Not Available            731000
17  17   natgeo             brand        entertainment             26700
18  18   nickiminaj         female       entertainment              6400
19  19   kourtneykardash    female       entertainment              4400
20  20   kendalljenner      male         Not Available            824000
21  21   neymarjr           male         Health, Sports & Fitness   5400
22  22   natgeo             male         Not Available             26000
23  23   mileycyrus         female       entertainment              1200
24  24   katyperry          female       entertainment              2100
25  25   zendaya            female       entertainment              3500
26  26   kevinhart4real     male         entertainment              8400
27  27   iamcardib          male         entertainment              1600
28  28   ddlovato           female       entertainment             68000
29  29   badgalriri         female       entertainment              4900
30  30   kingjames          male         Health, Sports & Fitness   2400
⋮   ⋮    ⋮                  ⋮            ⋮                        ⋮
171 171  parineetichopra    female       entertainment              1400
172 172  anushkasen0408     female       entertainment              5500
173 173  chrissyteigen      female       entertainment              5100
174 174  hm                 brand        fashion                    7500
175 175  wesleysafadao      male         entertainment              9000
176 176  marvelstudios      community    entertainment              2800
177 177  houseofhighlights  male         Health, Sports & Fitness  26900
178 178  tyga               NA           entertainment             27000
179 179  eminem             male         entertainment            721000
180 180  sachintendulkar    male         Health, Sports & Fitness   1100
181 181  danialves          male         Health, Sports & Fitness   3400
182 182  gisel_la           female       entertainment             10200
183 183  blakelively        male         entertainment            121000
184 184  chelseafc          community    Health, Sports & Fitness  17300
185 185  shahidkapoor       male         entertainment              1200
186 186  kimberly.loaiza    female       entertainment            578000
187 187  toni.kr8s          male         Health, Sports & Fitness   1000
188 188  antogriezmann      male         Health, Sports & Fitness 872000
189 189  mercedesbenz       brand        technology                18500
190 190  nattinatasha       female       entertainment             54000
191 191  tigerjackieshroff  male         entertainment              2200
192 192  lunamaya           female       entertainment              4200
193 193  mancity            male         Health, Sports & Fitness  19600
194 194  disney             brand        entertainment              7700
195 195  barackobama        male         News & Politics          743000
196 196  fcbayern           male         Health, Sports & Fitness  16800
197 197  colesprouse        male         entertainment              1100
198 198  shaymitchell       male         entertainment              6300
199 199  ivetesangalo       female       entertainment              7800
200 200  paollaoliveirareal female       entertainment              4800
    Followers avg_likes eng_rate
1   580100000   7310    0.001
2   519900000   3410    0.014
3   403700000    970    0.017
4   375900000   7020    0.017
5   365300000   1850    0.011
6   354300000   7030    0.003
7   345600000   4980    0.014
8   336300000   5730    0.009
9   287300000   2050    0.010
10  283900000   4190    0.005
11  270200000   7390    0.005
12  257600000   1030    0.001
13  236200000   1000    0.013
14  228800000 220000    0.005
15  228000000   1480    0.012
16  223400000 731000    0.023
17  220600000  26710    0.001
18  206800000   6440    0.008
19  206200000   4420    0.008
20  204400000 824000    0.025
21  196200000   5390    0.015
22  196100000  26020    0.001
23  189900000   1180    0.005
24  179800000   2090    0.003
25  161800000   3540    0.041
26  157600000   8400    0.002
27  145600000   1650    0.018
28  143500000  68000    0.003
29  139200000   4860    0.027
30  139200000   2410    0.009
⋮   ⋮         ⋮         ⋮
171 39200000    1350    0.009
172 39000000    5470    0.015
173 38600000    5110    0.007
174 38500000    7480    0.001
175 38300000    9020    0.003
176 38200000    2810    0.013
177 37900000   26920    0.008
178 37700000   27000    0.017
179 37600000  721000    0.024
180 37500000    1070    0.017
181 37400000    3400    0.008
182 37400000   10170    0.002
183 37000000  121000    0.056
184 36600000   17290    0.006
185 36600000    1180    0.024
186 36600000  578000    0.044
187 36600000     970    0.012
188 36400000  872000    0.018
189 36400000   18480    0.003
190 36100000   54000    0.013
191 36100000    2170    0.019
192 36100000    4170    0.002
193 36000000   19560    0.004
194 35800000    7700    0.003
195 35500000  743000    0.017
196 35400000   16780    0.006
197 35300000    1140    0.035
198 35100000    6310    0.012
199 35000000    7770    0.004
200 34900000    4780    0.007

> Note: The above creates a new dataframe, it does not save it to the original `insta` df. We would need to assign it to a new variable if we want to save it.

### 2.1.2 Select 

The `select` function is used to select a subset of columns (variables) from a dataframe.

In [20]:
select(insta, name) # select `name` column

    name
1   instagram
2   cristiano
3   leomessi
4   kyliejenner
5   selenagomez
6   therock
7   arianagrande
8   kimkardashian
9   beyonce
10  khloekardashian
11  justinbieber
12  nike
13  taylorswift
14  jlo
15  virat.kohli
16  kendalljenner
17  natgeo
18  nickiminaj
19  kourtneykardash
20  kendalljenner
21  neymarjr
22  natgeo
23  mileycyrus
24  katyperry
25  zendaya
26  kevinhart4real
27  iamcardib
28  ddlovato
29  badgalriri
30  kingjames
⋮   ⋮
171 parineetichopra
172 anushkasen0408
173 chrissyteigen
174 hm
175 wesleysafadao
176 marvelstudios
177 houseofhighlights
178 tyga
179 eminem
180 sachintendulkar
181 danialves
182 gisel_la
183 blakelively
184 chelseafc
185 shahidkapoor
186 kimberly.loaiza
187 toni.kr8s
188 antogriezmann
189 mercedesbenz
190 nattinatasha
191 tigerjackieshroff
192 lunamaya
193 mancity
194 disney
195 barackobama
196 fcbayern
197 colesprouse
198 shaymitchell
199 ivetesangalo
200 paollaoliveirareal

In [21]:
select(insta, name, Followers) # select `name` and `Followers` column

    name               Followers
1   instagram          580100000
2   cristiano          519900000
3   leomessi           403700000
4   kyliejenner        375900000
5   selenagomez        365300000
6   therock            354300000
7   arianagrande       345600000
8   kimkardashian      336300000
9   beyonce            287300000
10  khloekardashian    283900000
11  justinbieber       270200000
12  nike               257600000
13  taylorswift        236200000
14  jlo                228800000
15  virat.kohli        228000000
16  kendalljenner      223400000
17  natgeo             220600000
18  nickiminaj         206800000
19  kourtneykardash    206200000
20  kendalljenner      204400000
21  neymarjr           196200000
22  natgeo             196100000
23  mileycyrus         189900000
24  katyperry          179800000
25  zendaya            161800000
26  kevinhart4real     157600000
27  iamcardib          145600000
28  ddlovato           143500000
29  badgalriri         139200000
30  kingjames          139200000
⋮   ⋮                  ⋮
171 parineetichopra    39200000
172 anushkasen0408     39000000
173 chrissyteigen      38600000
174 hm                 38500000
175 wesleysafadao      38300000
176 marvelstudios      38200000
177 houseofhighlights  37900000
178 tyga               37700000
179 eminem             37600000
180 sachintendulkar    37500000
181 danialves          37400000
182 gisel_la           37400000
183 blakelively        37000000
184 chelseafc          36600000
185 shahidkapoor       36600000
186 kimberly.loaiza    36600000
187 toni.kr8s          36600000
188 antogriezmann      36400000
189 mercedesbenz       36400000
190 nattinatasha       36100000
191 tigerjackieshroff  36100000
192 lunamaya           36100000
193 mancity            36000000
194 disney             35800000
195 barackobama        35500000
196 fcbayern           35400000
197 colesprouse        35300000
198 shaymitchell       35100000
199 ivetesangalo       35000000
200 paollaoliveirareal 34900000

### 2.1.3 Filter

The `filter` function is used to choose a subset of rows (observations) in a dataframe.

e.g. filter to only include instagram accounts with more than 150 million followers

In [22]:
# One condition
filter(insta, Followers > 150000000)

   rank name            channel_Info Category                 Posts  Followers
1   1   instagram       brand        photography                7300 580100000
2   2   cristiano       male         Health, Sports & Fitness   3400 519900000
3   3   leomessi        male         Health, Sports & Fitness   1000 403700000
4   4   kyliejenner     female       entertainment              7000 375900000
5   5   selenagomez     female       entertainment              1800 365300000
6   6   therock         male         entertainment              7000 354300000
7   7   arianagrande    female       entertainment              5000 345600000
8   8   kimkardashian   female       entertainment              5700 336300000
9   9   beyonce         female       entertainment              2100 287300000
10 10   khloekardashian female       entertainment              4200 283900000
11 11   justinbieber    male         entertainment              7400 270200000
12 12   nike            brand        Health, Sports & Fitness   1000 257600000
13 13   taylorswift     male         entertainment            562000 236200000
14 14   jlo             female       entertainment            220000 228800000
15 15   virat.kohli     male         Not Available              1500 228000000
16 16   kendalljenner   male         Not Available            731000 223400000
17 17   natgeo          brand        entertainment             26700 220600000
18 18   nickiminaj      female       entertainment              6400 206800000
19 19   kourtneykardash female       entertainment              4400 206200000
20 20   kendalljenner   male         Not Available            824000 204400000
21 21   neymarjr        male         Health, Sports & Fitness   5400 196200000
22 22   natgeo          male         Not Available             26000 196100000
23 23   mileycyrus      female       entertainment              1200 189900000
24 24   katyperry       female       entertainment              2100 179800000
25 25   zendaya         female       entertainment              3500 161800000
26 26   kevinhart4real  male         entertainment              8400 157600000
   avg_likes eng_rate
1    7310    0.1
2    3410    1.4
3     970    1.7
4    7020    1.7
5    1850    1.1
6    7030    0.3
7    4980    1.4
8    5730    0.9
9    2050    1.0
10   4190    0.5
11   7390    0.5
12   1030    0.1
13   1000    1.3
14 220000    0.5
15   1480    1.2
16 731000    2.3
17  26710    0.1
18   6440    0.8
19   4420    0.8
20 824000    2.5
21   5390    1.5
22  26020    0.1
23   1180    0.5
24   2090    0.3
25   3540    4.1
26   8400    0.2

In [23]:
# Two conditions
filter(insta, Followers > 150000000 & Category == "Health, Sports & Fitness")

  rank name      channel_Info Category                 Posts Followers
1  2   cristiano male         Health, Sports & Fitness 3400  519900000
2  3   leomessi  male         Health, Sports & Fitness 1000  403700000
3 12   nike      brand        Health, Sports & Fitness 1000  257600000
4 21   neymarjr  male         Health, Sports & Fitness 5400  196200000
  avg_likes eng_rate
1 3410      1.4
2  970      1.7
3 1030      0.1
4 5390      1.5

## Many operations in the same sequence

When you need to type out a long sequence of operations on data, you could either:

(A) Save intermediate objects

(B) Compose function

(C) Use the pipe operator `|>`

Let's look closer at each one of these:

### (A) Save intermediate objects

```R
insta_1 <- mutate(insta, eng_rate = eng_rate / 100)
insta_2 <- filter(insta_1, Followers > 150000000)
insta_3 <- select(insta_2, name, Category, Followers, eng_rate)
insta_3
```

#### Disadvantages:

- The reader may be tricked into thinking the named `insta_1` and `insta_2` objects are important for some reason, while they are just temporary intermediate computations. 
- Further, the reader has to look through and find where `insta_1` and `insta_2` are used in each subsequent line.
- Creating variables that we don't need, could lead to memory issues if they are big and take up a lot of space.

### (B) Composing functions 

```R
insta_composed <- select(
    filter(
        mutate(
            insta, eng_rate = eng_rate / 100
        ),
        Followers > 150000000
    ),
   name, Category, Followers, eng_rate
)
insta_composed
```

#### Disadvantage: 

- Difficult to read since you the innermost function is exectued first
- You have to start reading from the middle of the code block (`mutate` above)

### (C) Piping
You can also *pipe* with the **`|>` symbol**: passes the output of a function to the **1st argument** of another. 

```R
insta_piped <- insta |>
    mutate(insta, eng_rate = eng_rate / 100) |>
    filter(Followers > 150000000) |>
    select(name, Category, Followers, eng_rate)
insta_piped
```
**note**: *if R sees a `|>` at the end of a line, it keeps reading the next line of code before evaluating!*

#### Advantage: 

- Pipes make code much more readable when you need to do a long sequence of operations on data.
- No intermediatery variables created

In [24]:
insta_piped <- insta |>
    mutate(insta, eng_rate = eng_rate / 100) |>
    filter(Followers > 150000000) |>
    select(name, Category, Followers, eng_rate)

head(insta_piped)

  name        Category                 Followers eng_rate
1 instagram   photography              580100000 0.001
2 cristiano   Health, Sports & Fitness 519900000 0.014
3 leomessi    Health, Sports & Fitness 403700000 0.017
4 kyliejenner entertainment            375900000 0.017
5 selenagomez entertainment            365300000 0.011
6 therock     entertainment            354300000 0.003

### 2.1.4 Grouping and summarizing via `group_by` + `summarize`

- Grouping is when you split data into groups based on the value of a column.
- Sumarizing is when you combine data into fewer summary values.

For example computing the average particle pollution per city (source https://info201.github.io/dplyr.html):

![](https://info201.github.io/img/dplyr/group_by.png)

- Another example, splitting the `insta` data into one group per `species`, and then summarizing the values within each group e.g. reporting the average `Followers` per account category. 
- To do this we use `group_by` + `summarize` to iterate over `Category`, calculating average followers.

In [25]:
insta |> 
    group_by(Category) |>
    summarize(avg_followers = mean(Followers))

   Category                 avg_followers
1  Beauty & Makeup           49133333
2  Craft/DIY                 46200000
3  Finance                   51900000
4  Health, Sports & Fitness  88161538
5  Lifestyle                 58100000
6  News & Politics           52000000
7  Not Available            140628571
8  entertainment             84184496
9  fashion                   51140000
10 food                      46900000
11 photography              313050000
12 technology                61100000

- You might be interested in arranging this dataframe from smallest to largest number of followers.
- The `arrange` function allows us to order the rows of a data frame by the values of a particular column (in descending order, for example):

In [26]:
insta |> 
    group_by(Category) |>
    summarize(avg_followers = mean(Followers)) |> 
    arrange(by = desc(avg_followers))

   Category                 avg_followers
1  photography              313050000
2  Not Available            140628571
3  Health, Sports & Fitness  88161538
4  entertainment             84184496
5  technology                61100000
6  Lifestyle                 58100000
7  News & Politics           52000000
8  Finance                   51900000
9  fashion                   51140000
10 Beauty & Makeup           49133333
11 food                      46900000
12 Craft/DIY                 46200000

## 3. Data Visualization